# See all parameters online at:
# https://raw.githubusercontent.com/ansible/ansible/devel/examples/ansible.cfg

[defaults]

# This inventory file should point to "dev" environment. This way working with
# "dev" environment will be easier invoking ansible/ansible-playbook without
# "-i" command parameter
#
inventory = ./env/dev/inventory

roles_path = ./roles/
#host_key_checking = False

# Ensure that vault file:
# - is ignored by git if inside local repo
# - has permissions 0400
#
# vault_password_file = $HOME/.ansible-vault-pass

#sudo_user      = root
#ask_sudo_pass = True
#ask_pass      = True
#transport      = smart
#remote_port    = 22
#remote_user = root
#private_key_file = /path/to/file
#retry_files_enabled = False

# Controls showing custom stats at the end, off by default
show_custom_stats = True

[privilege_escalation]

#become=True
#become_method=sudo
#become_user=root
#become_ask_pass=False

[ssh_connection]

# ssh arguments to use
# Leaving off ControlPersist will result in poor performance, so use
# paramiko on older platforms rather than removing it, -C controls compression use
#ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s

# Enabling pipelining reduces the number of SSH operations required to
# execute a module on the remote server. This can result in a significant
# performance improvement when enabled, however when using "sudo:" you must
# first disable 'requiretty' in /etc/sudoers
#
# By default, this option is disabled to preserve compatibility with
# sudoers configurations that have requiretty (the default on many distros).
#
#pipelining = False

[diff]
# Always print diff when running ( same as always running with -D/--diff )
always = yes
